*
{
    padding:0;
    margin: 0;
}

.bg
{
    width: 960px;
    height: 1000px;
    background-color: #eee;
    margin: 0 auto;
    margin-top: 20px;

    position: relative;
}

.left
{
    position: absolute;
    top:20px;
    left:20px;

    width: 200px;
    height: 150px;
    background-color: white;
}
.left .pic
{
    width: 80px;
    height: 80px;
    background-color: #eee;
    position: absolute;
    top:20px;
    left:20px;
}
.left .team_p
{
    position: absolute;
    top:20px;
    left:120px;
    font-weight: bold;
}

.right
{
    position: absolute;
    top:20px;
    right: 20px;

    width: 120px;
    height: 420px;
    background-color: white;
    text-align: center;
}
.right .logo
{
    width: 80px;
    height: 80px;
    margin: 20px 0 0 20px;
    background-color: #eee;
}
.right span
{
    line-height: 80px;
}

.mid
{
    height: 250px;
    margin: 0 260px;
    margin-right: 180px;
    background-color: white;
}
.mid .team_indu
{
    padding: 20px 0 0 40px;
}